<html>
  <head>
    <link rel="stylesheet" href="/login.css" />
    <title>Signin Page</title>
  </head>
  <body>
    <div class="login-section">
      <form action="/login" method="POST">
        <h2>SignIn Here!!</h2>
        <input
          type="text"
          placeholder="Email"
          id="email"
          name="email"
          required
        />
        <input
          type="password"
          placeholder="Enter Password"
          id="password"
          name="password"
          required
        />
        <input type="submit" value="Signin" />
        <a href="/changepassword">Forgot Password?</a>
      </form>
    </div>

    {{#if message}}
      <h4 align="center" style="font-size: 18px;">{{message}}</h4>
    {{/if}}
  </body>
</html>